:root {
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue:  hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Outfit', sans-serif;
    background: var(--light-gray);
    font-size: 20px;
}

.content-conteiner {
    background: var(--white);
    align-items: center;
    text-align: center;
    margin: 150px auto;
    border-radius: 10px;
    padding: 40px;
    width: 500px;
}

.content-qr {
    background: var(--dark-blue);
    height: 270px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.content-img-logo {
    width: 230px;
    height: 260px;
    padding: 20px;
}

.content-conteiner h2 {
    font-weight: 700;
}

.content-conteiner p {
    font-weight: 400;
    color: var(--grayish-blue);
    line-height: 20px;
    margin-top: 20px;
}

.signature {
    align-items: center;
    text-align: center;
}

.signature a {
    text-decoration: none;
}

@media (max-width: 375px) {
    html {
        font-size: 15px;
        box-sizing: border-box;
    }

    .content-qr {
        background: var(--grayish-blue);
        height: 270px;
        border-radius: 5px;
        margin-bottom: 20px;
    }
    
    .content-img-logo {
        width: 230px;
        height: 260px;
        padding: 20px;
    }
}